<a href="https://colab.research.google.com/github/sinchan-s/time-series-analysis/blob/main/tsa-tsfresh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Libraries for TSA using Tsfresh

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly
%matplotlib inline

## Passengers data for TSA

In [ ]:
df = pd.read_csv("https://github.com/sinchan-s/time-series-analysis/raw/main/airline_passengers.csv")
df.dropna(axis=0, inplace=True)
df['Month'] = pd.to_datetime(df['Month'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144 entries, 0 to 143
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Month                    144 non-null    datetime64[ns]
 1   Thousands of Passengers  144 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.4 KB

### Dataframe Columns formatting

In [ ]:
df.columns = ['month','#Passengers']
df['month'] = pd.to_datetime(df['month'],infer_datetime_format=True,format='%y%m')

## Tsfresh components importing

In [ ]:
from tsfresh import extract_features, extract_relevant_features, select_features
from tsfresh.utilities.dataframe_functions import impute, make_forecasting_frame
from tsfresh.feature_extraction import ComprehensiveFCParameters, settings

ERROR:numba.cuda.cudadrv.driver:Call to cuInit results in CUDA_ERROR_NO_DEVICE

## Model forecasting

In [ ]:
df_pass, y_air = make_forecasting_frame(df["#Passengers"], kind="#Passengers", max_timeshift=12, rolling_direction=1)
print(df_pass)

Rolling: 100%|██████████| 144/144 [00:01<00:00, 75.56it/s]

             id  time  value         kind
1       (id, 1)     0  112.0  #Passengers
3       (id, 2)     0  112.0  #Passengers
4       (id, 2)     1  118.0  #Passengers
6       (id, 3)     0  112.0  #Passengers
7       (id, 3)     1  118.0  #Passengers
...         ...   ...    ...          ...
1788  (id, 143)   138  622.0  #Passengers
1789  (id, 143)   139  606.0  #Passengers
1790  (id, 143)   140  508.0  #Passengers
1791  (id, 143)   141  461.0  #Passengers
1792  (id, 143)   142  390.0  #Passengers

[1650 rows x 4 columns]